<!doctype html>
<html lang="en">
<mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.username"
            placeholder="Username"
            type="text"
            name="username"
            required
            #username="ngModel"
          >
          <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
            Username is required.
          </mat-error>
          </mat-form-field>
          <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.password"
            type = "password"
            placeholder="Password"
            name="password"
          required
          #password="ngModel"
        >
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
          Password is required.
        </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
        <button
          mat-raised-button
          (click)="loginUser()"
          color="primary"
          [disabled]="loginForm.invalid"
        >
         Login
        </button>
    </mat-card-actions>
  </mat-card>