<!doctype html>
<html lang="en">
<mat-card>
    <mat-card-header>
      <mat-card-title>Sign Up!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #signUpForm="ngForm">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.username"
            placeholder="Username"
            type="text"
            name="Username"
            required
            #username="ngModel"
          >
          <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
            Username is required.
          </mat-error>
          </mat-form-field>
          <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.password"
            type = "password"
            placeholder="Password"
            name="Password"
            required
            #password="ngModel"
            >
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
              Password is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.email"
            type = "email"
            placeholder="Email"
            name="Email"
            required
            #email="ngModel"
            >
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
             Enter a valid email.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.birthDate"
            type = "date"
            placeholder="Birthday"  
            name="Birthday"
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
        <button
          mat-raised-button
          (click)="registerUser()"
          color="primary"
          [disabled]="signUpForm.invalid"
        >
          Sign Up
        </button>
    </mat-card-actions>
  </mat-card>